html
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      _print_player_data = #{print_player_data},
      disp_avatars = #{display_avatars},
      disp_player_avatars = #{display_player_avatars},
      disp_team_flags = #{display_team_flags},
      disp_player_flags = #{display_player_flags},
      _left_image = "#{left_image}",
      _left_primary = "#{left_primary}",
      _left_secondary = "#{left_secondary}",
      _right_image = "#{right_image}",
      _right_primary = "#{right_primary}",
      _right_secondary = "#{right_secondary}",
      _game_type = "#{game_type}",
      _map_one = "#{map_one}",
      _map_two = "#{map_two}",
      _map_three = "#{map_three}",
      _map_four = "#{map_four}",
      _map_five = "#{map_five}",
      _map_one_pick = "#{map_one_pick}",
      _map_two_pick = "#{map_two_pick}",
      _map_three_pick = "#{map_three_pick}",
      _map_four_pick = "#{map_four_pick}",
      _map_five_pick = "#{map_five_pick}",
      _allow_deaths_info = "#{allow_deaths_info}",
      _allow_alive = "#{allow_alive}",
      _money_power = "#{money_power}",
      special_event = "#{special_event}",
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
    link(rel='stylesheet', href=anim)
  body
    section
      #plank_mur4sh
        #plank_middle_mur4sh
          #plank_type_mur4sh.planks_mur4sh
          .pm_map
            #plank_map1_mur4sh.planks_mur4sh
            #plank_map2_mur4sh.planks_mur4sh
            #plank_map3_mur4sh.planks_mur4sh
            #plank_map4_mur4sh.planks_mur4sh
            #plank_map5_mur4sh.planks_mur4sh
          #plank_picked
      #alive_logo_block
        img#lanstats_logo
        #alive_mur4sh
          #alive_top Живые игроки
          #alive_bottom
            #alive_left_team 5
            #alive_vs VS 
            #alive_right_team 5
      #top_panel
        #left_team
          #logo
            img#team_logo
          #main TEAM NAME
          //#team_flag
          #section_sb
            #score 10
            #best_of
              .bar
              .block1
              .block2
              .block3
              .block4
              .block5
          #stage
            #stage_1 ЭКО 
            #stage_2 форс
            #stage_3 закуп
          #alert
            #alert_text
              |ALERT TEXT
            #alert_pole_right
            #bomb_defuse
              #icon
                .kit
              #kit_bar
        #center_section
          #round_timer
            #round_timer_text
              |0:00
          #round_number
            |раунд
          #game_type_mur4sh
            | Bo3
        #right_team
          #logo
            img#team_logo
          #main TEAM NAME
          //#team_flag
          #section_sb
            #score 10
            #best_of
              .bar
              .block1
              .block2
              .block3
              .block4
              .block5
          #stage
            #stage_3 закуп 
            #stage_2 форс
            #stage_1 ЭКО
          #alert
            #alert_pole_left
            #alert_text
              |ALERT TEXT
            #bomb_defuse
              #icon
                .kit
              #kit_bar
      #teams_powers 
        #left_tp
          #left_tp_text
        #right_tp
          #right_tp_text
      #timers
        #bomb_bar
        #defuse_bar
      #alert_middle_holder
        #alert_middle
          #pole_1_middle
          #alert_text_middle
            |ALERT TEXT
          #pole_2_middle
      #observed
        #obs_lane1
          #obs_health_section
            #obs_health_img
            #obs_health_text
              |100
          #obs_armor_section
            #obs_armor_img
            #obs_armor_text
              |100
        #obs_lane2
          #obs_avatar
            img#obs_img
          #obs_team
            img#obs_team_img
          #obs_alias
            #obs_alias_text
              |PLAYER ALIAS
            #obs_realname_text
              |PLAYER REAL NAME
          #obs_country
            img#obs_country_img
        #obs_lane3
          #obs_bomb_kit
          //#obs_round_kills
            #obs_skull
            #obs_round_kills_text
          #obs_kills
            #obs_kills_k
              |K
            #obs_kills_text
              |0
          #obs_assists
            #obs_assists_a
              |A
            #obs_assists_text
              |0
          #obs_deaths
            #obs_deaths_d
              |D
            #obs_deaths_text
              |0
          #obs_nades
            #obs_nade1
            #obs_nade2
            #obs_nade3
            #obs_nade4
          #obs_bullets_section
            #obs_ammo_section
              #obs_clip
                |150
              #obs_reserve
                |/300
        #obs_lane_under
      #players_left
        #box_section
          #box_top
            #box_img
              img#box_image
            #box_main
              #main_primary
              #main_secondary
          #box_utility
            .box_heading
              #box_heading_text Utility Level
              #box_heading_subtext - Poor
            .loss_bonus
              .loss_bonus_text Бонус за раунд
              .loss_boxes
                .loss_1
                .loss_2
                .loss_3
                .loss_4
            .box_grenades
              .box_nade_1
                #util_nade_1
                #util_nade_1_count 0
              .box_nade_2
                #util_nade_2
                #util_nade_2_count 0
              .box_nade_3
                #util_nade_3
                #util_nade_3_count 0
              .box_nade_4
                #util_nade_4
                #util_nade_4_count 0
          #box_monetary
            .box_equip_value
              #equip_text Equipment Value
              #equip_value $41250
            .box_team_money
              #money_text Team Money
              #money_value $80000
            .loss_bonus_money
              #loss_text Loss Bonus
              #loss_value $1900
        #player_section
          #player1
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player2
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450         
          #player3
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player4
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player5
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
      #players_right
        #box_section
          #box_top
            #box_img
              img#box_image
            #box_main
              div#main_top_mur4sh UPCOMING MATCH
              div#main_middle_mur4sh 
                div#main_left_mur4sh
                  img#main_left_pic_mur4sh
                  span#main_left_title_mur4sh Team A
                span#main_lrm_title_mur4sh VS
                div#main_right_mur4sh
                  img#main_right_pic_mur4sh
                  span#main_right_title_mur4sh Team B
          #box_utility
            .box_heading
              #box_heading_text Utility Level
              #box_heading_subtext - Poor
            .loss_bonus
              .loss_bonus_text Бонус за раунд
              .loss_boxes
                .loss_4
                .loss_3
                .loss_2
                .loss_1
            .box_grenades
              .box_nade_1
                #util_nade_1
                #util_nade_1_count 0
              .box_nade_2
                #util_nade_2
                #util_nade_2_count 0
              .box_nade_3
                #util_nade_3
                #util_nade_3_count 0
              .box_nade_4
                #util_nade_4
                #util_nade_4_count 0
          #box_monetary
            .box_equip_value
              #equip_text Equipment Value
              #equip_value $41250
            .box_team_money
              #money_text Team Money
              #money_value $80000
            .loss_bonus_money
              #loss_text Loss Bonus
              #loss_value $1900
        #player_section
          #player1
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player2
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image 
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450     
          #player3
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player4
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player5
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_alias
                  #player_alias_text  Player Name
                .player_armor
                  #player_armor_image
                .player_health
                  #player_health_text 100
              .player_section_bottom
                .player_dead_stats 
                  #player_rating 
                  #player_different
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_primary
                  img#player_weapon_primary_img
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d.player_skull_default
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450